{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 52.1565948,
    "longitude": 5.3728136,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Thuis",
    "time_zone": "Europe/Amsterdam",
    "external_url": "https://ha.k8s-frambozen.nl",
    "internal_url": null,
    "currency": "EUR",
    "country": "NL",
    "language": "nl",
    "radius": 100
  }
}